@model HospitalManagement.Models.Billing

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Billing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BillingID" />
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <input asp-for="PatientID" class="form-control" />
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillDate" class="control-label"></label>
                <input asp-for="BillDate" class="form-control" />
                <span asp-validation-for="BillDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <input asp-for="PaymentStatus" class="form-control" />
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomCharges" class="control-label"></label>
                <input asp-for="RoomCharges" class="form-control" />
                <span asp-validation-for="RoomCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationCharges" class="control-label"></label>
                <input asp-for="MedicationCharges" class="form-control" />
                <span asp-validation-for="MedicationCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabTestCharges" class="control-label"></label>
                <input asp-for="LabTestCharges" class="form-control" />
                <span asp-validation-for="LabTestCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurgeryCharges" class="control-label"></label>
                <input asp-for="SurgeryCharges" class="form-control" />
                <span asp-validation-for="SurgeryCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherCharges" class="control-label"></label>
                <input asp-for="OtherCharges" class="form-control" />
                <span asp-validation-for="OtherCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
